<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Account</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="account-bg">

  <h1 class="welcome-heading">My Account</h1>

  <div class="form-container" style="max-width:500px">
    <p style="color: black;"><strong>Username:</strong> {{ username }}</p>
    <p style="color: black;"><strong>Email:</strong> {{ email }}</p>

    <div class="button-row" style="margin-top:25px">
      <a href="{{ url_for('upload_history')}}" class="button">📜 History</a>
      <a href="{{ url_for('dashboard') }}" class="button">🏠 Home</a>
      <a href="{{ url_for('logout') }}" class="button">🚪 Logout</a>
    </div>
  </div>

</body>
</html>
