{% extends "base.html" %}

{% block content %}
<h2 style="color: #f7f7f7;">Upload History</h2>
{% if uploads %}
<table>
    <thead>
        <tr>
            <th>Filename</th>
            <th>Upload Time</th>
        </tr>
    </thead>
    <tbody>
        {% for upload in uploads %}
        <tr>
            <td>{{ upload.filename }}</td>
            <td> <p style="padding-left: 40px;"> {{ upload.upload_time.strftime('%Y-%m-%d %H:%M:%S') }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No uploads yet.</p>
{% endif %}
{% endblock %}
