<!DOCTYPE html>
<html>
<head><title>Step 1: Upload Excel</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='plotspanstyle.css') }}">
</head>
<body class="p-5">
  <h2 style="color: white;"><article>Step 1: Upload Excel</article></h2> 
  <form method="post" enctype="multipart/form-data">
    <input type="file" name="excel_file" required>
    <button type="submit"> Upload</button>
  </form>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul style="color:red;">{% for msg in messages %}<li>{{ msg }}</li>{% endfor %}</ul>
    {% endif %}
  {% endwith %}
   <a href="{{ url_for('dashboard') }}" class="button">🏠 Home</a>
</body>
</html>
